.customer-orders-page {
    position: relative;
    overflow: hidden;
    padding: 20px;
    min-height: 100vh; /* Ensure the background covers the entire viewport */
  }

  .customer-orders-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../backend/media/menu_images/DaisyDukes.jpg'); /* Path to your food image */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur as needed */
    z-index: -1; /* Ensure it's behind other elements */
  }
  
  .paper {
    background-color: rgba(255, 255, 255, 0.8); /* Make the Paper component slightly transparent */
  }
  