/* Add these styles to your Login.css */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../login_cust.jpeg'); /* Add your background image path here */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur amount here */
    z-index: -1; /* Ensure it's behind other elements */
  }
 