.background-image-order-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('order3.jpeg'); /* Set your background image here */
    background-size: cover;
    background-position: center;
    /* filter: blur(8px);  */
    z-index: -1; /* Send to back */
}